<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<button ng-click="getCandidates()">Get Candidates</button>
		</div>
		<div class="col-md-10">
			<!--Body content-->
			<ul class="list-inline">
				<li><a href="#">Home</a></li>
				<li><a href="#">Menu 2</a></li>
				<li><a href="#">Menu 3</a></li>
			</ul>
			<ul>
				<li ng-repeat="candidate in candidates.data" class="thumbnail">
				<a href="#/candidates/{{candidate.id}}" class="thumb"><img ng-src="{{candidate.photo_url}}"></a>
				<a href="#/candidates/{{candidate.id}}">{{candidate.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>